@import "tailwindcss";

@theme {
    --breakpoint-sm: 390px;
    --breakpoint-md: 680px;
    --breakpoint-lg: 1024px;
    --breakpoint-xlg: 1200px;
    --breakpoint-xl: 1600px;

    --font-firs-neue: 'TT Firs Neue', sans-serif;
    --font-tactic-sans: 'Tactic Sans', sans-serif;
    --font-tektur: 'Tektur', sans-serif;

    --text-2\.5xl: 1.75rem;
    --text-65: 4.0625rem;
    --text-80: 5rem;
    --text-100: 6.25rem;
    --text-8\.5xl: 7.5rem;

    --color-gray: #333333;
    --color-red: #DD3030;
}

@utility mobile-active {
    display: flex;
}

@utility hover-color {
    background-color: var(--hover-color);
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('./fonts/TTFirsNeue/TtFirsNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: url('./fonts/TTFirsNeue/TtFirsNeueDemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('./fonts/TacticSans/TacticSansExtendedRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('./fonts/TacticSans/TacticSansExtendedMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tactic Sans';
    src: url('./fonts/TacticSans/TacticSansExtendedBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('./fonts/Tektur/TekturRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('./fonts/Tektur/TekturSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
